*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.sla filter=lfs diff=lfs merge=lfs -text
*.sce filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.jpg text !filter !merge !diff
*.jpeg text !filter !merge !diff
*.JPG text !filter !merge !diff
*.png text !filter !merge !diff
*.sla text !filter !merge !diff
*.sce text !filter !merge !diff
*.pdf text !filter !merge !diff
*.webp text !filter !merge !diff
